.font-lexend{
    font-family: "Lexend", sans-serif;
}
.btn-primary-bg{
    background-color: #0E7A81;
    color: white;
    font-weight: bold;
}
.active{
    background-color: #0E7A811A;
    border:  1.5px solid rgb(14, 122, 129);
    border-radius: 20px;
}